In [1]:
import pandas as pd
import csv

In [2]:
header = ['q1_2015', 'q2_2015', 'q3_2015', 'q4_2015', 'q1_2016', 'q2_2016', 'q3_2016', 'q1_2017', 'q2_2017', 'q3_2017', 'q4_2017']

In [3]:
code_list = ['acb', 'bid', 'ctg', 'eib', 'mbb', 'nvb', 'shb', 'stb', 'vcb']

In [13]:
code = 'outputs'
loaded_data = pd.read_csv('./closed/'+ code + ".csv", sep=',', header=None)
loaded_data

        0        1         2
0    acb   q1_2015  17376.36
1    acb   q2_2015  16001.85
2    acb   q3_2015  16261.11
3    acb   q4_2015  15674.07
4    acb   q1_2016  15157.41
5    acb   q2_2016  14890.74
6    acb   q3_2016  15353.70
7    acb   q4_2016  18081.48
8    acb   q1_2017  21207.41
9    acb   q2_2017  23027.78
10   acb   q3_2017  25546.30
11   acb   q4_2017  30287.04
12   bid   q1_2015  20294.55
13   bid   q2_2015  21800.00
14   bid   q3_2015  20114.81
15   bid   q4_2015  15829.63
16   bid   q1_2016  16246.30
17   bid   q2_2016  15853.70
18   bid   q3_2016  15379.63
19   bid   q4_2016  15279.63
20   bid   q1_2017  16281.48
21   bid   q2_2017  18657.41
22   bid   q3_2017  20390.74
23   bid   q4_2017  23598.15
24   ctg   q1_2015  18803.64
25   ctg   q2_2015  18588.89
26   ctg   q3_2015  17870.37
27   ctg   q4_2015  16038.89
28   ctg   q1_2016  15853.70
29   ctg   q2_2016  16155.56
..    ...      ...       ...
78   shb   q3_2016   4442.59
79   shb   q4_2016   4416.67
80   shb   q1_2017   5675.93
81   shb   q2_2017   6994.44
82   shb   q3_2017   7431.48
83   shb   q4_2017   7937.04
84   stb   q1_2015  15476.36
85   stb   q2_2015  14068.52
86   stb   q3_2015  12237.04
87   stb   q4_2015  10951.85
88   stb   q1_2016  10996.30
89   stb   q2_2016  10953.70
90   stb   q3_2016   9012.96
91   stb   q4_2016   8896.30
92   stb   q1_2017  11307.41
93   stb   q2_2017  13064.81
94   stb   q3_2017  12014.81
95   stb   q4_2017  12062.96
96   vcb   q1_2015  33547.27
97   vcb   q2_2015  31346.30
98   vcb   q3_2015  31729.63
99   vcb   q4_2015  29314.81
100  vcb   q1_2016  32751.85
101  vcb   q2_2016  37335.19
102  vcb   q3_2016  35896.30
103  vcb   q4_2016  36138.89
104  vcb   q1_2017  36035.19
105  vcb   q2_2017  37005.56
106  vcb   q3_2017  37205.56
107  vcb   q4_2017  45240.74

[108 rows x 3 columns]

In [11]:
for code in code_list:
    loaded_data = pd.read_csv('./closed/'+ code + ".csv", sep='\t', header=None)
    loaded_data_length = len(loaded_data[1])
    q1_2015 = loaded_data[1][0:round(loaded_data_length/12)].mean()
    q2_2015 = loaded_data[1][round(loaded_data_length/12)+1:round(loaded_data_length/12)*2].mean()
    q3_2015 = loaded_data[1][round(loaded_data_length/12)*2+1:round(loaded_data_length/12)*3].mean()
    q4_2015 = loaded_data[1][round(loaded_data_length/12)*3+1:round(loaded_data_length/12)*4].mean()
    q1_2016 = loaded_data[1][round(loaded_data_length/12)*4+1:round(loaded_data_length/12)*5].mean()
    q2_2016 = loaded_data[1][round(loaded_data_length/12)*5+1:round(loaded_data_length/12)*6].mean()
    q3_2016 = loaded_data[1][round(loaded_data_length/12)*6+1:round(loaded_data_length/12)*7].mean()
    q4_2016 = loaded_data[1][round(loaded_data_length/12)*7+1:round(loaded_data_length/12)*8].mean()
    q1_2017 = loaded_data[1][round(loaded_data_length/12)*8+1:round(loaded_data_length/12)*9].mean()
    q2_2017 = loaded_data[1][round(loaded_data_length/12)*9+1:round(loaded_data_length/12)*10].mean()
    q3_2017 = loaded_data[1][round(loaded_data_length/12)*10+1:round(loaded_data_length/12)*11].mean()
    q4_2017 = loaded_data[1][round(loaded_data_length/12)*11+1:round(loaded_data_length/12)*12].mean()
    
    print(code, ',q1_2015,', round(q1_2015,2))
    print(code, ',q2_2015,', round(q2_2015,2))
    print(code, ',q3_2015,', round(q3_2015,2))
    print(code, ',q4_2015,', round(q4_2015,2))
    print(code, ',q1_2016,', round(q1_2016,2))
    print(code, ',q2_2016,', round(q2_2016,2))
    print(code, ',q3_2016,', round(q3_2016,2))
    print(code, ',q4_2016,', round(q4_2016,2))
    print(code, ',q1_2017,', round(q1_2017,2))
    print(code, ',q2_2017,', round(q2_2017,2))
    print(code, ',q3_2017,', round(q3_2017,2))
    print(code, ',q4_2017,', round(q4_2017,2))

acb ,q1_2015, 17376.36
acb ,q2_2015, 16001.85
acb ,q3_2015, 16261.11
acb ,q4_2015, 15674.07
acb ,q1_2016, 15157.41
acb ,q2_2016, 14890.74
acb ,q3_2016, 15353.7
acb ,q4_2016, 18081.48
acb ,q1_2017, 21207.41
acb ,q2_2017, 23027.78
acb ,q3_2017, 25546.3
acb ,q4_2017, 30287.04
bid ,q1_2015, 20294.55
bid ,q2_2015, 21800.0
bid ,q3_2015, 20114.81
bid ,q4_2015, 15829.63
bid ,q1_2016, 16246.3
bid ,q2_2016, 15853.7
bid ,q3_2016, 15379.63
bid ,q4_2016, 15279.63
bid ,q1_2017, 16281.48
bid ,q2_2017, 18657.41
bid ,q3_2017, 20390.74
bid ,q4_2017, 23598.15
ctg ,q1_2015, 18803.64
ctg ,q2_2015, 18588.89
ctg ,q3_2015, 17870.37
ctg ,q4_2015, 16038.89
ctg ,q1_2016, 15853.7
ctg ,q2_2016, 16155.56
ctg ,q3_2016, 15687.04
ctg ,q4_2016, 15755.56
ctg ,q1_2017, 17342.59
ctg ,q2_2017, 18761.11
ctg ,q3_2017, 18533.33
ctg ,q4_2017, 21277.78
eib ,q1_2015, 13618.18
eib ,q2_2015, 12059.26
eib ,q3_2015, 11175.93
eib ,q4_2015, 10512.96
eib ,q1_2016, 11325.93
eib ,q2_2016, 11214.81
eib ,q3_2016, 10264.81
eib ,q4_2016, 9764.81
eib ,q1_2017, 11314.81
eib ,q2_2017, 12129.63
eib ,q3_2017, 12257.41
eib ,q4_2017, 11938.89
mbb ,q1_2015, 12205.45
mbb ,q2_2015, 12551.85
mbb ,q3_2015, 12220.37
mbb ,q4_2015, 12479.63
mbb ,q1_2016, 12931.48
mbb ,q2_2016, 12859.26
mbb ,q3_2016, 12629.63
mbb ,q4_2016, 12303.7
mbb ,q1_2017, 14090.74
mbb ,q2_2017, 18861.11
mbb ,q3_2017, 21596.3
mbb ,q4_2017, 23420.37
nvb ,q1_2015, 6940.0
nvb ,q2_2015, 6872.22
nvb ,q3_2015, 6511.11
nvb ,q4_2015, 5896.3
nvb ,q1_2016, 5655.56
nvb ,q2_2016, 5811.11
nvb ,q3_2016, 5853.7
nvb ,q4_2016, 4735.19
nvb ,q1_2017, 4468.52
nvb ,q2_2017, 7238.89
nvb ,q3_2017, 7396.3
nvb ,q4_2017, 7155.56
shb ,q1_2015, 6823.64
shb ,q2_2015, 6074.07
shb ,q3_2015, 5703.7
shb ,q4_2015, 5716.67
shb ,q1_2016, 5605.56
shb ,q2_2016, 5042.59
shb ,q3_2016, 4442.59
shb ,q4_2016, 4416.67
shb ,q1_2017, 5675.93
shb ,q2_2017, 6994.44
shb ,q3_2017, 7431.48
shb ,q4_2017, 7937.04
stb ,q1_2015, 15476.36
stb ,q2_2015, 14068.52
stb ,q3_2015, 12237.04
stb ,q4_2015, 10951.85
stb ,q1_2016, 10996.3
stb ,q2_2016, 10953.7
stb ,q3_2016, 9012.96
stb ,q4_2016, 8896.3
stb ,q1_2017, 11307.41
stb ,q2_2017, 13064.81
stb ,q3_2017, 12014.81
stb ,q4_2017, 12062.96
vcb ,q1_2015, 33547.27
vcb ,q2_2015, 31346.3
vcb ,q3_2015, 31729.63
vcb ,q4_2015, 29314.81
vcb ,q1_2016, 32751.85
vcb ,q2_2016, 37335.19
vcb ,q3_2016, 35896.3
vcb ,q4_2016, 36138.89
vcb ,q1_2017, 36035.19
vcb ,q2_2017, 37005.56
vcb ,q3_2017, 37205.56
vcb ,q4_2017, 45240.74